<h1>  <%=h @page.title %> </h1>
<br />

<% for chapter in @page.chapters %>
  
  <% if !chapter.title2.blank? -%>
    <br /> <h2><%=h chapter.title2%></h2> <br />
  <%end -%>
  
  <% if !chapter.description.blank? -%>
    <%=h chapter.description%> <br /><br />
  <%end -%>
   
   
  <% if !chapter.image_url.blank? -%>
    
    <a href="<%= @link_image + chapter.image_url %>" ><%=image_tag @link_image + "r_" + chapter.image_url %></a>
  <%end -%>
  
  
  
  
<% end %>

<br />