<h1>  <%=h @page.title %> </h1>

<br />

<td><%= button_to 'Go Back', :action => 'go_to_page' %></td>

<br />

<ul id="page-list">
	<% @page.chapters.each do |chapter| %>
		<li id="chapter_<%= chapter.id %>">
			<% if !chapter.title2.blank? -%>
				<h2><%= chapter.title2 %></h2>
			<%end -%>
			<% if !chapter.description.blank? -%>
				<%= chapter.description %>
			<%end -%>
			<% if !chapter.image_url.blank? -%>	
				<%=image_tag @link_image + "r_" + chapter.image_url, :style => "border: 0px solid ;" %>
			<%end -%>
		</li>
	<% end %>
</ul>


<% puts "before" %>
<%= sortable_element 'page-list',
	:url => { :action => "sort", :id => @page },
	:complete => visual_effect(:highlight, 'page-list')
%>
