<h1>Listing chapters</h1>

<table class="table">
  <tr>
    <th>Page</th>
    <th>Position</th>
    <th>Title2</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Date chapter</th>
  </tr>

<% @chapters.each do |chapter| %>
  <tr>
    <td><%=h chapter.page.title %></td>
    <td><%=h chapter.position %></td>
    <td><%=h chapter.title2 %></td>
    <td><%=h chapter.description %></td>
    <td><%=h chapter.image_url %></td>
    <td><%=h chapter.date_chapter %></td>
    
    <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
    <td><%= link_to 'Destroy', chapter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chapter', new_chapter_path %>