<h1>New chapter</h1>

<% form_for(@chapter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :page_id %>
   </p>
  
  <p>
    <%= f.hidden_field :title2 %>
  </p>
  <p>
    <%= f.hidden_field :description %>
  </p>
  <p>
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </p>
  <p>
    <%= f.hidden_field :date_chapter %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', chapters_path %>