<p>
  <b>Page:</b>
  <%=h @chapter.page_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @chapter.position %>
</p>

<p>
	<% if !@chapter.title2.blank? -%>
  	<b>Title2:</b>
  	<%=h @chapter.title2 %>
  <%end -%>
</p>

<p>
	<% if !@chapter.description.blank? -%>
  	<b>Description:</b>
  	<%=h @chapter.description %>
  <%end -%>
</p>

<p>
	<% if !@chapter.image_url.blank? -%>
  	<b>Image url:</b>
  	<%=h @chapter.image_url %>
  <%end -%>
</p>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>